
/* Import catppuccin colors */
@import url('./catppuccin.css');


/* Reduced motion preferences */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}


/* Component overrides */

html {
  scroll-behavior: smooth;
  color: var(--ifm-font-color-base);
  background-color: var(--ifm-footer-background-color) !important;
}

.main-wrapper {
  background-color: var(--ifm-background-color) !important;
}

.navbar {
  background-color: var(--ifm-navbar-background-color) !important;
}

.docs-wrapper, article, .markdown {
  background-color: var(--ifm-background-color) !important;
}

.pagination-nav__link {
  border: 1px solid var(--ifm-background-color);
  background-color: var(--ifm-background-surface-color);
}

.pagination-nav__link:hover {
  border: 1px solid var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);
}

.table-of-contents__link--active {
  font-weight: bold;
}

.footer {
  background-color: var(--ifm-footer-background-color) !important;
  padding-top: 0rem !important;
  padding-bottom: 0.15rem !important;
  margin: 0 !important;
}

.footer__copyright {
  margin-top: 0 !important;
  padding-top: 0 !important;
  font-size: 0.8rem;
}
